################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InventoryTracker/InventoryTracker/obj/Debug
/InventoryTracker/packages
